.parent {
    border: 1px solid red;
}
.child {
    width: 100px;
    height: 100px;
    border: 1px solid green;
    margin: 10px auto;
}
.child2 {
    width: 200px;
    height: 100px;
    border: 1px solid green;
    margin: 10px auto;
}
.child3 {
    width: 300px;
    height: 100px;
    border: 1px solid green;
    margin: 10px auto;
}