/*
#elem {
    border-width: 6px;
    border-style: solid;
    border-color: blue;
    width: 300px;
    height: 100px;
}
*/
/*
#elem {
    border-width: 6px;
    border-style: dotted;
    border-color: red;
    width: 300px;
    height: 100px;
} 
*/
#elem {
    border-width: 6px;
    border-style: double;
    border-color: blue;
    width: 300px;
    height: 100px;
}